# Chapter 8: Customizing Functions

## Apply

This instance happens when you want to perform more complex calculations on your data rather than addind or substracting two columns.

Things of such kind might prevent you from wrting a for loop to iterate over a whole column for instance

In [1]:
import pandas as pd

/home/rockefeller/.local/lib/python3.9/site-packages/pandas/core/arrays/masked.py:64: UserWarning: Pandas requires version '1.3.2' or newer of 'bottleneck' (version '1.2.1' currently installed).
  from pandas.core import (

In [2]:
def my_function():
    # indent 4 spaces
    # function code
    pass

In [3]:
def my_sq(x):
    """squares a given value
    """
    return x ** 2

In [4]:
my_sq(2)

4

In [5]:
my_sq(4)

16

In [6]:
def avg_2(x, y):
    """calculates average between 2 numbers
    """
    return (x + y) / 2.0

In [7]:
avg_2(10, 20)

15.0

In [8]:
df1 = pd.DataFrame({
        "A": [5,10,15],
        "B": [3,6,9]
    })

In [9]:
df1

    A  B
0   5  3
1  10  6
2  15  9

In [10]:
df1['A'].apply(my_sq)

0     25
1    100
2    225
Name: A, dtype: int64

In [ ]:
df1['A'] ** 2

Now we want to understand how an **apply function** works on a dataframe

In [ ]:
def print_me(x):
    print(x)
df1

In [ ]:
df1.apply(print_me)

In [11]:
def avg_3(x, y,z):
    """avg of 3 numbers
    """
    return (x + y +z ) / 3

In [ ]:
df1

In [ ]:
df1.apply(avg_3)

In [ ]:
def Avg_3(col):
    """perform the average over a dataframe"""
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

In [ ]:
df1.apply(Avg_3)

In [ ]:
df1

In [ ]:
df1.apply(Avg_3, axis=0)

In [ ]:
def avg_2(row):
    """avg of 2 numbers
    """
    x = row[0]
    y = row[1]
    return (x + y) / 2
df1.apply(avg_2, axis=1)

In [ ]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

In [ ]:
titanic.head()

In [ ]:
titanic.info()

In [ ]:
import numpy as np

1. Write a function which is going to return a count of missing values column-wise

In [ ]:
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [ ]:
titanic.apply(count_missing)

In [ ]:
titanic.apply(count_missing, axis=1).value_counts() #549 rows have 1 missing values 182 have 0 missing value

    2. Write a function which is going to return a proportion of the missing values

In [ ]:
#A proportion is just what I took over the size of the whole thing

In [ ]:
def prop_missing(vec):
    num = count_missing(vec)
    den = vec.size
    return num / den

In [ ]:
titanic.apply(prop_missing)

     3.  Write a function which  computes the remaining proportion

In [ ]:
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [ ]:
titanic.apply(prop_missing)

In [ ]:
#titanic.loc[pd.isnull(titanic['embark_town']), :]